.home {
  width: 5vw;
  height: auto;
  margin: 40px;
}

.img_pizza {
  width: 10vw;
  height: auto;
}

.img_zoom {
  transform: scale(5);
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group > input, button {
  margin: 0 1.5rem;
}
